<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>服薬記録サービス</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css" />
    <script src="/js/font.js"></script>
  </head>
  <body>
    <div class="header">
      <h1 class="title white-text">
        <a href="/">服薬記録サービス</a>
      </h1>
    </div>
    <form action="/item/<%= @item.id %>" method="post">
      <input type="text" name="item_name" value="<%= @item.name %>">
      <input type="number" name="item_stock" value="<%= @item.stock %>">
      <a href="/item/<%= @item.id %>/delete">削除</a>
      <input type="submit" value="保存">
    </form>
  </body>
</html>
